body {
  margin: 0px;
  background-color: #e6ebe1;
}

nav {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #23272a;
  margin: 0px;
  padding: 0px;
  border: none;
}

.logo-image {
  height: 70px;
  margin-left: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex: 1;
}

.nova {
  font-family: Archivo black;
  color: #fffff9;
  font-size: 30px;
  margin-left: 1px;
}

button {
  background-color: #e7efcb;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgb(123, 123, 109);
  padding: 2px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: all 0.23s ease-out;
  font-weight: 600;
  font-size: 15px;
  font-family: georama;
}

button:hover {
  transform: translateY(-3px);
}
.right-section {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 30px;
}

a {
  color: black;
  font-size: 15px;
  font-family: georama;
  outline: none;
  text-decoration: none;
}

.main-heading {
  font-family: Russo one;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #b4a686;
  margin-top: 50px;
  border-radius: 20px;
  padding-top: 10px !important;
  padding-bottom: 20px !important;
  padding: 100px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}

.sub-heading {
  font-family: georama;
  font-size: 18px;
}

.product-heading {
  font-family: russo one;
  font-size: 50px;
  text-align: center;
}

.product-section {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 250px 250px;
  gap: 18px;
  margin: 20px;
  margin-top: 0.8px;
  row-gap: 15px;
}

.product-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px;
}

.products {
  display: flex;
  background-color: #252120d3;
  align-items: center;
  border-radius: 10px;
  width: auto;
  margin-bottom: 12px;
  flex-direction: row;
  padding-right: 2px;
}

.we-provide-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px; */
  margin: 10em;
  /* padding-bottom: 1px; */
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;

}

.product-title {
  font-family: inter;
  font-weight: 800;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #e5e4e7;
  margin: 10px;
  gap: 2px;
  height: 90px;
}

.product-desc {
  font-family: Roboto;
  font-size: 1em;
  margin-left: 25px;
  margin-top: 1px;
}
